<div class="shadow-sm p-3 mb-5 bg-body rounded">
  <div class="card-body">
    <!-- yang bagus pake ini  -->
    <!-- <form [formGroup]="todoForm" (ngSubmit)="onSubmit()"> -->
    <form [formGroup]="todoForm">
      <div class="input-group mb-3">
        <div class="input-group-text">
          <input type="checkbox" class="form-check-input" formControlName="isCompleted">
        </div>
        <input type="text" class="form-control" placeholder="Todo" formControlName="name" />
        <button class="btn btn-outline-primary" type="button" (click)="onSubmit()" [disabled]="!todoForm.valid">ADD</button>
      </div>
  </form>
  </div>
</div>